<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Wolf & Badger Profile App: {% block title %}{% endblock %}</title>
  <!-- Bulma CDN -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.4/css/bulma.css">

</head>
<body>
  <nav class="navbar">
    <div class="navbar-brand">
      <a href="{% url 'user-list' %}" class="navbar-item">
        Wolf & Badger CRUD App
      </a>
    </div>

    <div class="navbar-item">
      <div class="buttons">
        <a href="https://github.com/todaatsushi/wolf_and_badger_crud_app" class="button" target="_blank">
          Project Code
        </a>
        <a href="{% block view_code %}{% endblock %}" class="button" target="_blank">
          Page View
        </a>
        <a href="{% block template_code %}{% endblock %}" class="button" target="_blank">
          Page Template
        </a>
      </div>
    </div>

    <div class="navbar-end">
      <div class="navbar-item">
        {% if user.is_authenticated %}
          <h1 class="subtitle">
              {% if user.first_name %}Welcome {{ user.first_name }}!{% else %}Create your profile ->{% endif %}
          </h1>
        {% endif %}
      </div>
      <div class="navbar-item">
        <div class="buttons">
          {% if user.is_authenticated %}
            <a href="{% url 'user-detail' user.username %}" class="button" id="view-profile">
              My profile
            </a>
            <a href="{% url 'user-update' user.username %}" class="button" id="update-profile">
              Update profile
            </a>
            <a href="{% url 'user-delete' user.username %}" class="button" id="delete-profile">
              Delete profile
            </a>
            <a href="{% url 'user-logout' %}" class="button" id="logout">
              Logout
            </a>
          {% else %}
            <a href="{% url 'user-create' %}" class="button" id="sign-up">
              Sign Up
            </a>
            <a href="{% url 'user-login' %}" class="button" id="login">
              Login
            </a>
          {% endif %}
        </div>
      </div>
    </div>
  </nav>

  <section class="container">
    {% if messages %}
      {% for message in messages %}
        <div class="container">
          {{ message }}
        </div>
      {% endfor %}
    {% endif %}

    <section class="hero">
        <div class="hero-body">
            <h1 class="title">{% block page_title %}{% endblock %}</h1>
            <h2 class="subtitle">{% block function %}{% endblock %}</h2>
        </div>
    </section>
    {% block main %}
    {% endblock %}
  </section>
</body>
</html>
