<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Wolf & Badger Profile App: {% block title %}{% endblock %}</title>
  <!-- Bulma CDN -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.4/css/bulma.css">

</head>
<body>
  <nav class="navbar">
    <div class="navbar-brand">
      <a href="{% url 'users-list' %}" class="navbar-item">
        Wolf & Badger CRUD App
      </a>
    </div>

    <div class="navbar-item">
      <div class="buttons">
        <a href="" class="button">
          Project Code
        </a>
        <a href="{% block page_code %}{% endblock %}" class="button">
          Relevant Code
        </a>
      </div>
    </div>

    <div class="navbar-end">
      <div class="navbar-item">
        <div class="buttons">
          {% if user.is_authenticated %}
            <a href="" class="button">
              View Profile
            </a>
            <a href="" class="button">
              Update Profile
            </a>
            <a href="" class="button">
              Delete Profile
            </a>
            <a href="" class="button">
              Logout
            </a>
          {% else %}
            <a href="" class="button">
              Sign Up
            </a>
          {% endif %}
        </div>
      </div>
    </div>
  </nav>

  <section class="container">
    <section class="hero">
        <div class="hero-body">
            <h1 class="title">{% block page_title %}{% endblock %}</h1>
            <h2 class="subtitle">{% block function %}{% endblock %}</h2>
        </div>
    </section>
    {% block main %}
    {% endblock %}
  </section>
</body>
</html>
