{% extends 'users/user_form.html' %}

{% block title_2 %}
    Welcome Back!
{% endblock %}

{% block page_title_2 %}
    Login
{% endblock %}

{% block legend %}
    Please enter your username or password.
{% endblock %}

{% block submit %}
    Login
{% endblock %}

{% block view_code_2 %}
    https://github.com/todaatsushi/wolf_and_badger_crud_app/blob/master/users/urls.py
{% endblock %}

{% block template_code_2 %}
    https://github.com/todaatsushi/wolf_and_badger_crud_app/blob/master/users/templates/users/user_login.html
{% endblock %}
