{% extends 'users/layout.html' %}

{% block title %}
    User - {{ target_user.first_name }} {{ target_user.last_name }}
{% endblock %}

{% block page_title %}
    View User - {{ target_user.first_name }} {{ target_user.last_name }}
{% endblock %}

{% block function %}
    More about {{ target_user.first_name }} - see if {{ target_user.first_name }} is a good fit for your company!
{% endblock %}

{% block main %}
    <section class="container">
        <form method="post" class="form-main">
            {% csrf_token %}
            <legend class="title">Delete {{ user.first_name }}'s profile?</legend>
            <input type="submit" value="Delete">
            <a href="{% url 'user-detail' user.pk %}" class="button">Don't Delete</a>
        </form>
    </section>
{% endblock %}
