{% extends 'users/user_form.html' %}
{% load socialaccount %}

{% block title_2 %}
    Create New User
{% endblock %}

{% block page_title_2 %}
    Welome to the site!
{% endblock %}

{% block function_2 %}
    Enter your details below.
{% endblock %}

{% block legend %}
    Create your profile.
{% endblock %}

{% block submit %}
    Create
{% endblock %}

{% block extra %}
    <a href="{% provider_login_url 'github' %}" class="button">Sign Up with GitHub</a>
{% endblock %}

{% block view_code_2 %}
    https://github.com/todaatsushi/wolf_and_badger_crud_app/blob/master/users/views.py
{% endblock %}

{% block template_code_2 %}
    https://github.com/todaatsushi/wolf_and_badger_crud_app/blob/master/users/templates/users/user_create.html
{% endblock %}
