{% extends 'users/layout.html' %}

{% block title %}
    All Users
{% endblock %}

{% block page_title %}
    Home
{% endblock %}

{% block function %}
    See all users!
{% endblock %}

{% block main %}
    <section class="container">
        {% for user in users %}
            <section class="column is-one-quarter">
                <a href="{% url 'user-detail' user.id %}">
                    {{ user.first_name }}
                </a>
            </section>
        {% endfor %}
    </section>
{% endblock %}
