{% extends 'users/layout.html' %}

{% block title %}
    Password Change Complete
{% endblock %}

{% block page_title %}
    Success!
{% endblock %}

{% block function %}
    You've successfully changed your password.
{% endblock %}

{% block main %}
    <section class="container">
        <div class="buttons">
            <a href="{% url 'user-list' %}" class="button">Back Home</a>
            <a href="{% url 'user-detail' user.username %}" class="button">View Your Profile</a>
            <a href="{% url 'user-update' user.username %}" class="button">Update Your Profile</a>
        </div>
    </section>
{% endblock %}

{% block template_code %}
    https://github.com/todaatsushi/profiles_crud_app/blob/master/users/templates/users/user_password_change.html
{% endblock %}
