{% extends 'users/layout.html' %}

{% block title %}
    {% block title_2 %}
    {% endblock %}
{% endblock %}

{% block page_title %}
    {% block page_title_2 %}
    {% endblock %}
{% endblock %}

{% block function %}
    {% block function_2 %}
    {% endblock %}
{% endblock %}

{% block main %}
    <section class="container">
        <form method="POST">
            {% csrf_token %}
            {% for field, errors in form.errors.items %}
                {% for error in errors %}
                    <p class="is-4">{{ error }}</p>
                {% endfor %}
            {% endfor %}
            <legend class="title">{% block legend %} {% endblock %}</legend>
            {% for field in form.visible_fields %}

                {# Don't show password options in the form on the update page - slice is for next page url options #}
                {% if field.name == 'password' and not request.get_full_path|slice:":17" == '/user/auth/login/' %}
                {% else %}
                    <div class="field">
                        <label for="{{ field.name }}" class="label">
                            {{ field.label_tag }}
                        </label>
                        {% if field.errors %}
                            <ul>
                                {% for error in field.errors %}
                                    <li>
                                        <p class="help is-danger">{{ error }}</p>
                                    </li>
                                {% endfor %}
                            </ul>
                        {% endif %}
                        {{ field }}
                        {% if field.help_text %}
                            <p class="help">{{ field.help_text }}</p>
                        {% endif %}
                    </div>
                {% endif %}
            {% endfor %}

        
        <div class="buttons">
            <input type="submit" value="{% block submit %}{% endblock %}" class="button">
            <a href="{% url 'user-list' %}" class="button">Cancel</a>
            {% block extra %}
            {% endblock %}
        </div>
        </form>
    </section>
{% endblock %}

{% block view_code %}
    {% block view_code_2 %}{% endblock %}
{% endblock %}

{% block template_code %}
    {% block template_code_2 %}{% endblock %}
{% endblock %}
