{% extends 'users/layout.html' %}

{% block title %}
    All Users
{% endblock %}

{% block page_title %}
    Home
{% endblock %}

{% block function %}
    See all users!
{% endblock %}

{% block main %}
    <section class="container">
        {% for profile in users %}
            <section class="column is-one-quarter">
                <a href="{% url 'user-detail' profile.username %}">
                    {{ profile.first_name }}
                </a>
            </section>
        {% endfor %}
    </section>
{% endblock %}

{% block view_code %}
    https://github.com/todaatsushi/wolf_and_badger_crud_app/blob/master/users/views.py
{% endblock %}

{% block template_code %}
    https://github.com/todaatsushi/wolf_and_badger_crud_app/blob/master/users/templates/users/user_list.html
{% endblock %}

